.post {
  background: #ffffff;
  width: 100vh;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 40px;
}
.post__media {
  max-height: 400px;
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}
.post__header p {
  display: flex;
  padding: 10px;
  align-items: center;
}
.post__header p span {
  padding-left: 10px;
  font-weight: 900;
}
.post__footer p span {
  padding-right: 10px;
  font-weight: 900;
}
.post__footer {
  padding: 10px;
}
